menu "display configuration"

    config LISA_DISPLAY
        bool "display support"
        default n

if LISA_DISPLAY

    choice LISA_DISPLAY_DEVICE
        prompt "lisa display device"
        default LISA_DISPLAY_ST77926

        config LISA_DISPLAY_AXS15231B
            bool "LCD AXS15231B"

        config LISA_DISPLAY_ST77926
            bool "LCD ST77926"

        config LISA_DISPLAY_ST7789P3
            bool "LCD ST7789p3"
        
        config LISA_DISPLAY_GC9309NA
            bool "LCD GC9309NA"

        config LISA_DISPLAY_ST7789V
            bool "LCD ST7789v"

        config LISA_DISPLAY_NV3030B
            bool "LCD NV3030B"

        config LISA_DISPLAY_GC9A01
            bool "LCD GC9A01"

        config LISA_DISPLAY_UC8253C
            bool "LCD UC8253C"
            select LISA_DISPLAY_INTERFACE_SPI_4_LINE
            select LISA_DISPLAY_BUSY_SYNC

    endchoice

    config LISA_DISPLAY_TE_SYNC
        bool "Enable LCD TE pin synchronization"
        default n
        help
            If enabled, display update will be synchronized with LCD TE signal.
            This helps to prevent screen tearing effects.

    config LISA_DISPLAY_BUSY_SYNC
        bool "Enable EPD BUSY pin synchronization"
        default n
        help
            If enabled, EPD update will be synchronized with EPD BUSY signal.
            This helps to prevent updating display when EPD is busy.

    config LISA_DISPLAY_CPDMA_ROTATE
        bool "Enable LCD CPDMA rotate"
        default n
        help
            If enabled, CPDMA will rotate display.

    config LISA_DISPLAY_CPDMA_CH
        int "CPDMA channel"
        default 2
        depends on LISA_DISPLAY_CPDMA_ROTATE

    choice LISA_DISPLAY_BRIGHTNESS_TYPE
        prompt "lisa display brightness type"
        default LISA_DISPLAY_BRIGHTNESS_TYPE_PWM

        config LISA_DISPLAY_BRIGHTNESS_TYPE_PWM
            bool "LCD Brightness Type PWM"

        config LISA_DISPLAY_BRIGHTNESS_TYPE_WIRE_DIMMING
            bool "LCD Brightness Type Wire Dimming"
    endchoice
            
            
endif # LISA_DISPLAY

endmenu

rsource "Kconfig.axs15231b"
rsource "Kconfig.st77926"
rsource "Kconfig.st7789p3"
rsource "Kconfig.st7789v"
rsource "Kconfig.gc9309na"
rsource "Kconfig.nv3030b"
rsource "Kconfig.gc9a01"
rsource "Kconfig.uc8253c"
rsource "trans_ctx/Kconfig.trans_ctx"

