menu "display uc8253c configuration"


if LISA_DISPLAY_UC8253C

    config DISPLAY_UC8253C_WIDTH
        int "screen width"
        default 240
        help
        The pixel length in the x-axis direction of the display screen, the maximum value is 240.

    config DISPLAY_UC8253C_HEIGHT
        int "screen height"
        default 416
        help
        The pixel length in the y-axis direction of the display screen, the maximum value is 416.

    config DISPLAY_UC8253C_X_OFFSET
        int "screen x offset"
        default 0
        help
        The pixel offset in the x-axis direction of the display screen.

    config DISPLAY_UC8253C_Y_OFFSET
        int "screen y offset"
        default 0
        help
        The pixel offset in the y-axis direction of the display screen.

    config ROTATE_BUF_MAX_HEIGHT
        int "roate buffer buffer max height"
        default DISPLAY_UC8253C_WIDTH

    config USE_TRANS_CTX
        bool "use trans context"
        default y
        select LISA_DISPLAY_INTERFACE_SPI_4_LINE
endif

endmenu