menu "display st7789p3 configuration"


if LISA_DISPLAY_ST7789P3

    config DISPLAY_ST7789P3_WIDTH
        int "screen width"
        default 170
        help
        The pixel length in the x-axis direction of the display screen, the maximum value is 170.

    config DISPLAY_ST7789P3_HEIGHT
        int "screen height"
        default 320
        help
        The pixel length in the y-axis direction of the display screen, the maximum value is 320.

    config DISPLAY_ST7789P3_X_OFFSET
        int "screen x offset"
        default 35
        help
        The pixel offset in the x-axis direction of the display screen.

    config DISPLAY_ST7789P3_Y_OFFSET
        int "screen y offset"
        default 0
        help
        The pixel offset in the y-axis direction of the display screen.

    config ROTATE_BUF_MAX_HEIGHT
        int "roate buffer buffer max height"
        default DISPLAY_ST7789P3_WIDTH

    config USE_TRANS_CTX
        bool "use trans context"
        default y
        select LISA_DISPLAY_INTERFACE_SPI_4_LINE
endif

endmenu