menu "porting configuration"

config LISA_PORTING
        bool "enable lisa_porting"
        default y

orsource "kv/Kconfig"
orsource "log/Kconfig"
orsource "os/Kconfig"
orsource "net/Kconfig"

endmenu
