osource "$ARCS_BASE/Kconfig"

menu "Voice Application"

rsource "../../modules/Kconfig"
rsource "../../src/Kconfig"
orsource "../../apps-ui/Kconfig"

rsource "miniapp/Kconfig"
rsource "pet/Kconfig"

endmenu
