# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

menu "Custom dirent.h"

config DIRENT
	bool "custom <dirent.h>"
	select LSFS
	select MODULE_HEAP

config DIRENT_EMPTY_IMPLEMENTATION
	bool "empty implementation"

endmenu
