# LISA ADC Driver Configuration
#
# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

menuconfig LISA_ADC
    bool "Enable LISA ADC Driver"
    default n
    depends on LISA_DEVICE
    help
      Enable the LISA ADC device driver.

if LISA_ADC


endif # LISA_ADC
