menu "touch configuration"

    config LISA_TOUCH
        bool "touch support"
        default n

if LISA_TOUCH

    choice LISA_TOUCH_DEVICE
        prompt "lisa touch device"
        default LISA_TOUCH_ST77921

        config LISA_TOUCH_AXS15231B
            bool "TOUCH  AXS15231B"

        config LISA_TOUCH_ST77921
            bool "TOUCH ST77921"

        config LISA_TOUCH_CST816D
            bool "TOUCH CST816D"

        config LISA_TOUCH_FT5336
            bool "TOUCH FT5336"

        config LISA_TOUCH_BL6133
            bool "TOUCH BL6133"
            help
              Enable support for BL6133 touch controller.

        config LISA_TOUCH_CST328
            bool "TOUCH CST328"
    endchoice

    config LISA_TOUCH_INTERRUPT
    	bool "Interrupt INT PIN support"
        default y
        help
        Enable interrupt support (requires INT PIN).

    config LISA_TOUCH_READ_FREQUENCY
        int "touch read frequency"
        default 20
        help
            set the touch read frequency

endif # LISA_TOUCH

endmenu

rsource "Kconfig.axs15231b"
rsource "Kconfig.st77921"
rsource "Kconfig.cst816d"
rsource "Kconfig.ft5336"
rsource "Kconfig.cst328"

