# Board Configuration
#
# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config BOARD_NAME
	string
	default "arcs_evb"
	prompt "Board Name"
	help
		Board Name

config BOARD_ARCS_EVB
	bool
	default y
	select SOC_LS2684
	help
		Board is arcs_evb

config BOARD_PANEL_ST7789P3
	bool
	default y

config BOARD_PANEL_ST7789P3_WIDTH
	int
	default 320

config BOARD_PANEL_ST7789P3_HEIGHT
	int
	default 240

config BOARD_PANEL_ST7789P3_X_OFFSET
	int
	default 0

config BOARD_PANEL_ST7789P3_Y_OFFSET
	int
	default 0
