menuconfig MODULE_SHELL
    bool "Shell Module"
    default n
    help
        Shell Module
    if MODULE_SHELL
        config SHELL_NAME
            string "Module Name"
            default "shell"
        config TPF_ENABLE
            bool "Use TinyPrintf"
            default y
        config SHELL_PARAM_MAX
            int "Max Argument Counts"
            default 4
            range 1 8
        config SHELL_HISTORY_MAX
            int "Max History Counts"
            default 5
            range 0 10
        config SHELL_LINE_LIMIT
            int "Shell Line Limit(Bytes)"
            default 500
            range 64 512
        config SHELL_TXBUF_SIZE
            int "Shell TX Buffer Size(Bytes)"
            default 512
            range 128 1024
        config SHELL_RXBUF_SIZE
            int "Shell RX Buffer Size(Bytes)"
            default 32
            range 16 128
        config SHELL_COLOR_ENABLE
            bool "Enable Color in Shell"
            default y
        choice
            prompt "New Line Format"
            default SHELL_NEWLINE_LF
            config SHELL_NEWLINE_CRLF
                bool "\\r\\n"
            config SHELL_NEWLINE_CR
                bool "\\r"
            config SHELL_NEWLINE_LF
                bool "\\n"
        endchoice

        choice
            prompt "Shell Debug Level"
            default SHELL_DEBUG_LEVEL_DEBUG
            config SHELL_DEBUG_LEVEL_NONE
                bool "0:None"
            config SHELL_DEBUG_LEVEL_ERROR
                bool "1:Error"
            config SHELL_DEBUG_LEVEL_WARN
                bool "2:Warnning"
            config SHELL_DEBUG_LEVEL_INFO
                bool "3:Information"
            config SHELL_DEBUG_LEVEL_DEBUG
                bool "4:Debug"
            config SHELL_DEBUG_LEVEL_VERB
                bool "5:Verbose"
        endchoice
        config SHELL_DEBUG_LEVEL
            int
            default 0 if SHELL_DEBUG_LEVEL_NONE
            default 1 if SHELL_DEBUG_LEVEL_ERROR
            default 2 if SHELL_DEBUG_LEVEL_WARN
            default 3 if SHELL_DEBUG_LEVEL_INFO
            default 4 if SHELL_DEBUG_LEVEL_DEBUG
            default 5 if SHELL_DEBUG_LEVEL_VERB
            range 0 5
    endif
