menu "ARCS System Startup Configuration"

rsource "arcs/Kconfig"

config ARCS_STARTUP_CONFIG
    bool "ARCS startup config"
    default y
    imply MODULE_FREERTOS
    imply MODULE_HEAP
    imply LOG
    imply ARCS_HAL_WARNING_DISABLE
    imply BOOT_HART

if ARCS_STARTUP_CONFIG


config ARCS_STARTUP_CUSTOM_LINKER_FILE
    bool "ARCS startup custom linker file"
    default n

config PSRAM_INIT
    bool "PSRAM init"
    default y if ARCS_AP_CORE

config CLOCK_INIT
    bool "CLOCK init"
    default y if ARCS_AP_CORE

config BOOT
    bool "BOOT embedded"
    default y if ARCS_CP_CORE

endif
endmenu

if BOOT
    orsource "boot/Kconfig.boot"
endif
