menu "dac configuration"

config LITE_DAC
    bool "DAC support"
    default n

config LITE_DAC_PROXY
    bool "DAC proxy support"
    default n

if LITE_DAC

config DAC_ECHO_ENABLE
    bool "DAC echo enable"
    default n

config ECHO_RECV_CNTS
    int "DAC echo receive cnts"
    depends on DAC_ECHO_ENABLE
    default 25

endif
endmenu