menuconfig COMPONENT_CAMERA
    bool "camera component"
    default n
    help
        camera component

if COMPONENT_CAMERA 
    choice CAMERA_INTERFACE
        prompt "Select camera interface"
        default CAMERA_INTERFACE_SPI

        config CAMERA_INTERFACE_SPI
            bool "SPI"
            help
                use SPI interface

        config CAMERA_INTERFACE_DVP
            bool "DVP"
            help
                use dvp interface
    endchoice
    
    if CAMERA_INTERFACE_SPI
        choice
            prompt "Select SPI interface"
            default SPI_INTERFACE_NORM
            config SPI_INTERFACE_VIC
                bool "vic spi interface"
                depends on CAMERA_INTERFACE_SPI
                help
                    use vic spi interface
            config SPI_INTERFACE_NORM
                bool "normal spi interface"
                depends on CAMERA_INTERFACE_SPI
                help
                    use normal spi interface
        endchoice
    endif

    config BF3901_SUPPORT
        bool "BF3901"
        default y
    
    config GC032A_SUPPORT
        bool "GC032A"
        default n
    
    config GC0328_SUPPORT
        bool "GC0328"
        default n

endif # COMPONENT_CAMERA