# Board Configuration
#
# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config BOARD_NAME
	string
	default "arcs_mini"
	prompt "Board Name"
	help
		Board Name

config BOARD_ARCS_MINI
	bool
	default y
	select SOC_LS2684
	help
		Board is arcs_mini

config BOARD_ARCS_MINI_MODEM_UART2_REMAP
	bool "Remap UART2 to PA09/PA08 for modem"
	default n
	help
		Remap UART2 to PA09/PA08 for an external 4G modem.
		This conflicts with SDMMC on PA08/PA09.
