# LISA Hardware Timer Driver Configuration
#
# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config LISA_HWTIMER_ARCS_DUAL_TIMER
	bool "Enable LISA Hardware Timer ARCS Dual Timer support"
	depends on SOC_ARCS
	select LISA_HWTIMER_DUAL_TIMER
	help
		Enable LISA Hardware Timer ARCS Dual Timer support.

if LISA_HWTIMER_DUAL_TIMER && SOC_ARCS

endif # LISA_HWTIMER_DUAL_TIMER && SOC_ARCS
