# LISA Hardware Timer Driver Configuration
#
# Copyright (c) 2026, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config LISA_HWTIMER_VENUSA_GPT_TIMER
	bool "Enable LISA Hardware Timer Venusa GPT Timer support"
	depends on SOC_VENUSA
	select LISA_HWTIMER_GPT_TIMER
	help
		Compatibility option for Venusa GPT Timer configurations.

if LISA_HWTIMER_GPT_TIMER && SOC_VENUSA

endif # LISA_HWTIMER_GPT_TIMER && SOC_VENUSA
