# LISA Hardware Timer Driver Configuration
#
# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config LISA_HWTIMER_ARCS_GPT_TIMER
	bool "Enable LISA Hardware Timer ARCS GPT Timer support"
	depends on SOC_ARCS
	select LISA_HWTIMER_GPT_TIMER
	help
		Enable LISA Hardware Timer ARCS GPT Timer support.

if LISA_HWTIMER_GPT_TIMER && SOC_ARCS

endif # LISA_HWTIMER_GPT_TIMER && SOC_ARCS
