
config BLE_PROFILE_DISC
    bool "Enable BLE Profile DISC over BLE Server"
    default n
    help
        Enable BLE-based Device Information Client support

config BLE_PROFILE_DISS
    bool "Enable BLE Profile DISS over BLE Server"
    default n
    help
        Enable BLE-based Device Information Service support
