# Copyright (c) 2026, LISTENAI
# SPDX-License-Identifier: Apache-2.0

osource "$ARCS_BASE/Kconfig"

orsource "$ARCS_BASE/labs/lnn/common/arcs/libraries/Kconfig"

config THINKER_RESNET18_REAL_MODEL_ADDR
	hex "Thinker ResNet18 real model flash address"
	default 0x30200000
	help
	  XIP flash address of resnet18_arcs.bin. Burn the model at
	  offset 0x500000 when MEM_FLASH_BASE is 0x30000000.

config THINKER_RESNET18_REAL_MODEL_SIZE
	hex "Thinker ResNet18 real model size"
	default 0x1FD1E0
	help
	  Size of resnet18_arcs.bin in bytes.

config THINKER_RESNET18_REAL_PSRAM_POOL_SIZE
	hex "Thinker ResNet18 real PSRAM pool size"
	default 0x10000
	help
	  PSRAM pool used for Thinker runtime memory plan entries on AP Core.

config THINKER_RESNET18_REAL_SHARE_POOL_SIZE
	hex "Thinker ResNet18 real share pool size"
	default 0x58000
	help
	  APRAM pool used for Thinker SHARE_MEM memory plan entries.

config THINKER_RESNET18_REAL_CP_FLASH_BASE
	hex "Thinker ResNet18 real CP image flash base"
	default 0x30600000
	help
	  Flash XIP address used by AP Core to boot the CP image.
