config ARCS_HAL_CLI_CMD
    bool "Enable ARCS HAL CLI CMD"
    default n
    imply ARCS_HAL_CLI_CMD_CFG_WIFI_MFG
    help
        Enable CLI CMD (Command Line Interface Command) support

if ARCS_HAL_CLI_CMD
    config ARCS_HAL_CLI_CMD_CFG_WIFI_MFG
        bool "Enable CFG WIFI MFG in CLI CMD"
        default n
        help
            Enable CFG WIFI MFG in CLI CMD support
endif
