# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

if ACOMP_TRANSLATION

	config ACOMP_TRANS_RES_ENC_A_EMMC_ADDR
		hex "Translation encoder A eMMC address"
		default 0x2d00000

	config ACOMP_TRANS_RES_ENC_A_SIZE
		int "Translation encoder A size (bytes)"
		default 3306480

	config ACOMP_TRANS_RES_ENC_B_EMMC_ADDR
		hex "Translation encoder B eMMC address"
		default 0x3200000

	config ACOMP_TRANS_RES_ENC_B_SIZE
		int "Translation encoder B size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENC_C_EMMC_ADDR
		hex "Translation encoder C eMMC address"
		default 0x3700000

	config ACOMP_TRANS_RES_ENC_C_SIZE
		int "Translation encoder C size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENC_D_EMMC_ADDR
		hex "Translation encoder D eMMC address"
		default 0x3c00000

	config ACOMP_TRANS_RES_ENC_D_SIZE
		int "Translation encoder D size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENC_E_EMMC_ADDR
		hex "Translation encoder E eMMC address"
		default 0x4100000

	config ACOMP_TRANS_RES_ENC_E_SIZE
		int "Translation encoder E size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENC_F_EMMC_ADDR
		hex "Translation encoder F eMMC address"
		default 0x4600000

	config ACOMP_TRANS_RES_ENC_F_SIZE
		int "Translation encoder F size (bytes)"
		default 3561152

	config ACOMP_TRANS_RES_DEC_EMMC_ADDR
		hex "Translation decoder eMMC address"
		default 0x4b00000

	config ACOMP_TRANS_RES_DEC_SIZE
		int "Translation decoder size (bytes)"
		default 4429216

	config ACOMP_TRANS_RES_DEC_EMB_EMMC_ADDR
		hex "Translation decoder embedding eMMC address"
		default 0x5000000

	config ACOMP_TRANS_RES_DEC_EMB_SIZE
		int "Translation decoder embedding size (bytes)"
		default 1936384

	config ACOMP_TRANS_RES_ENC_EMB_EMMC_ADDR
		hex "Translation encoder embedding eMMC address"
		default 0x5500000

	config ACOMP_TRANS_RES_ENC_EMB_SIZE
		int "Translation encoder embedding size (bytes)"
		default 1936384

endif
