# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

if ACOMP_TRANSLATION

	config ACOMP_TRANS_RES_ENCN_ENC_A_EMMC_ADDR
		hex "Translation ENCN encoder A eMMC address"
		default 0x0

	config ACOMP_TRANS_RES_ENCN_ENC_A_SIZE
		int "Translation ENCN encoder A size (bytes)"
		default 3306480

	config ACOMP_TRANS_RES_ENCN_ENC_B_EMMC_ADDR
		hex "Translation ENCN encoder B eMMC address"
		default 0x328000

	config ACOMP_TRANS_RES_ENCN_ENC_B_SIZE
		int "Translation ENCN encoder B size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENCN_ENC_C_EMMC_ADDR
		hex "Translation ENCN encoder C eMMC address"
		default 0x64b000

	config ACOMP_TRANS_RES_ENCN_ENC_C_SIZE
		int "Translation ENCN encoder C size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENCN_ENC_D_EMMC_ADDR
		hex "Translation ENCN encoder D eMMC address"
		default 0x96e000

	config ACOMP_TRANS_RES_ENCN_ENC_D_SIZE
		int "Translation ENCN encoder D size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENCN_ENC_E_EMMC_ADDR
		hex "Translation ENCN encoder E eMMC address"
		default 0xc91000

	config ACOMP_TRANS_RES_ENCN_ENC_E_SIZE
		int "Translation ENCN encoder E size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_ENCN_ENC_F_EMMC_ADDR
		hex "Translation ENCN encoder F eMMC address"
		default 0xfb4000

	config ACOMP_TRANS_RES_ENCN_ENC_F_SIZE
		int "Translation ENCN encoder F size (bytes)"
		default 3561152

	config ACOMP_TRANS_RES_ENCN_DEC_EMMC_ADDR
		hex "Translation ENCN decoder eMMC address"
		default 0x131a000

	config ACOMP_TRANS_RES_ENCN_DEC_SIZE
		int "Translation ENCN decoder size (bytes)"
		default 4429216

	config ACOMP_TRANS_RES_ENCN_DEC_EMB_EMMC_ADDR
		hex "Translation ENCN decoder embedding eMMC address"
		default 0x1754000

	config ACOMP_TRANS_RES_ENCN_DEC_EMB_SIZE
		int "Translation ENCN decoder embedding size (bytes)"
		default 1936384

	config ACOMP_TRANS_RES_ENCN_ENC_EMB_EMMC_ADDR
		hex "Translation ENCN encoder embedding eMMC address"
		default 0x192d000

	config ACOMP_TRANS_RES_ENCN_ENC_EMB_SIZE
		int "Translation ENCN encoder embedding size (bytes)"
		default 1936384

	config ACOMP_TRANS_RES_CNEN_ENC_A_EMMC_ADDR
		hex "Translation CNEN encoder A eMMC address"
		default 0x1b06000

	config ACOMP_TRANS_RES_CNEN_ENC_A_SIZE
		int "Translation CNEN encoder A size (bytes)"
		default 3306480

	config ACOMP_TRANS_RES_CNEN_ENC_B_EMMC_ADDR
		hex "Translation CNEN encoder B eMMC address"
		default 0x1e2e000

	config ACOMP_TRANS_RES_CNEN_ENC_B_SIZE
		int "Translation CNEN encoder B size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_CNEN_ENC_C_EMMC_ADDR
		hex "Translation CNEN encoder C eMMC address"
		default 0x2151000

	config ACOMP_TRANS_RES_CNEN_ENC_C_SIZE
		int "Translation CNEN encoder C size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_CNEN_ENC_D_EMMC_ADDR
		hex "Translation CNEN encoder D eMMC address"
		default 0x2474000

	config ACOMP_TRANS_RES_CNEN_ENC_D_SIZE
		int "Translation CNEN encoder D size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_CNEN_ENC_E_EMMC_ADDR
		hex "Translation CNEN encoder E eMMC address"
		default 0x2797000

	config ACOMP_TRANS_RES_CNEN_ENC_E_SIZE
		int "Translation CNEN encoder E size (bytes)"
		default 3286864

	config ACOMP_TRANS_RES_CNEN_ENC_F_EMMC_ADDR
		hex "Translation CNEN encoder F eMMC address"
		default 0x2aba000

	config ACOMP_TRANS_RES_CNEN_ENC_F_SIZE
		int "Translation CNEN encoder F size (bytes)"
		default 3561152

	config ACOMP_TRANS_RES_CNEN_DEC_EMMC_ADDR
		hex "Translation CNEN decoder eMMC address"
		default 0x2e20000

	config ACOMP_TRANS_RES_CNEN_DEC_SIZE
		int "Translation CNEN decoder size (bytes)"
		default 4429216

	config ACOMP_TRANS_RES_CNEN_DEC_EMB_EMMC_ADDR
		hex "Translation CNEN decoder embedding eMMC address"
		default 0x325a000

	config ACOMP_TRANS_RES_CNEN_DEC_EMB_SIZE
		int "Translation CNEN decoder embedding size (bytes)"
		default 1936384

	config ACOMP_TRANS_RES_CNEN_ENC_EMB_EMMC_ADDR
		hex "Translation CNEN encoder embedding eMMC address"
		default 0x3433000

	config ACOMP_TRANS_RES_CNEN_ENC_EMB_SIZE
		int "Translation CNEN encoder embedding size (bytes)"
		default 1936384

endif
