menu "display transfer context"

    choice LISA_DISPLAY_INTERFACE
        prompt "lisa display interface"
        default LISA_DISPLAY_INTERFACE_QSPI

        config LISA_DISPLAY_INTERFACE_QSPI
            bool "Qspi interface"

        config LISA_DISPLAY_INTERFACE_SPI_4_LINE
            bool "4 line serial"

        config LISA_DISPLAY_INTERFACE_SPI_3_LINE
            bool "3 line serial"

        config LISA_DISPLAY_INTERFACE_RGB
            bool "rgb interface"
    endchoice

    config ROTATE_BUF_WIDTH
        int "rotate buf width"
        default 16

endmenu