menu "AXS15231B Display Panel"

if LISA_DISPLAY_PANEL_AXS15231B

    config PANEL_AXS15231B_WIDTH
        int "screen width"
        default 176
        help
        The pixel length in the x-axis direction of the display screen, the maximum value is 172.

    config PANEL_AXS15231B_HEIGHT
        int "screen height"
        default 560
        help
        The pixel length in the y-axis direction of the display screen, the maximum value is 640.

    config PANEL_AXS15231B_X_OFFSET
        int "display screen x offset"
        default 0
        help
        The pixel offset in the x-axis direction of the display screen.

    config PANEL_AXS15231B_Y_OFFSET
        int "screen y offset"
        default 0
        help
        The pixel offset in the y-axis direction of the display screen.
    
    config ROTATE_BUF_MAX_HEIGHT
        int "roate buffer buffer max height"
        default PANEL_AXS15231B_WIDTH

endif

endmenu