menu "GC9D01N Display Panel"

if LISA_DISPLAY_PANEL_GC9D01N

config PANEL_GC9D01N_WIDTH
    int "screen width"
    default 160
    help
    The pixel length in the x-axis direction of the display screen, the maximum value is 172.

config PANEL_GC9D01N_HEIGHT
    int "screen height"
    default 160
    help
    The pixel length in the y-axis direction of the display screen, the maximum value is 640.

config PANEL_GC9D01N_X_OFFSET
    int "screen x offset"
    default 0
    help
    The pixel offset in the x-axis direction of the display screen.

config PANEL_GC9D01N_Y_OFFSET
    int "screen y offset"
    default 0
    help
    The pixel offset in the y-axis direction of the display screen.

config ROTATE_BUF_MAX_HEIGHT
    int "rotate buffer max height"
    default PANEL_GC9D01N_WIDTH

endif

endmenu
