menu "ST7789P3 Display Panel"

if LISA_DISPLAY_PANEL_ST7789P3

config PANEL_ST7789P3_WIDTH
    int "screen width"
    default 170
    help
    The pixel length in the x-axis direction of the display screen, the maximum value is 240.

config PANEL_ST7789P3_HEIGHT
    int "screen height"
    default 320
    help
    The pixel length in the y-axis direction of the display screen, the maximum value is 240.

config PANEL_ST7789P3_X_OFFSET
    int "display screen x offset"
    default 35
    help
    The pixel offset in the x-axis direction of the display screen.

config PANEL_ST7789P3_Y_OFFSET
    int "screen y offset"
    default 0
    help
    The pixel offset in the y-axis direction of the display screen.

config ROTATE_BUF_MAX_HEIGHT
    int "roate buffer buffer max height"
    default PANEL_ST7789P3_WIDTH

endif

endmenu