
config ARCS_HAL_WCND
    bool "Enable ARCS HAL WCND"
    depends on WIFI
    default n
    help
        Enable WCND (Wireless Controller Network) support

if ARCS_HAL_WCND
    choice
        prompt "mac addr implementation"
        default ARCS_HAL_WCND_MAC_TRUE
        
        config ARCS_HAL_WCND_MAC_TRUE
            bool "true mac address from efuse"
        config ARCS_HAL_WCND_MAC_FAKE
            bool "fake mac address"
    endchoice

    config ARCS_HAL_WCND_CFG_DPD_LUNA
        bool "Enable DPD Luna"
        default n
        help
            Enable DPD Luna support

    config ARCS_HAL_WCND_GPADC_IC_MUTEX
        bool "Enable GPADC IC Mutex for multi cores"
        depends on ARCS_HAL_IC_MUTEX
        default n
        help
            Enable GPADC IC Mutex for multi cores
    
    config ARCS_HAL_WCND_RF_SELFCALI_FROM_NV
        bool "Enable RF selfcali from nv"
        default n
        help
            Enable RF selfcali from nv
    
    config ARCS_HAL_WCND_RF_SELFCALI_WRITE_TO_NV
        bool "Enable RF selfcali write to nv"
        default n
        help
            Enable RF selfcali write to nv
    
    config ARCS_HAL_WCND_USE_FLASH_OTP
        bool "Enable RF flash otp"
        default y
        help
            Enable RF flash otp

    config ARCS_HAL_WCND_RF_BOARD_VER
        int "RF Board Version"
        default 0
        help
            RF Board Version

endif
