# BLE Profiles Kconfig aggregator

menu "BLE Profiles"
    depends on BLE || BT || BLUETOOTH

rsource "hogp/Kconfig"
rsource "bas/Kconfig"
rsource "dis/Kconfig"
rsource "netcfg_ble/netcfg_bles/Kconfig"

endmenu
