
# general switch for module and lib, can be turn on/off in the individual demo's config
WIFI_TARGET=fhost
###########################################
#Module configuration
##########################################

MODULE_RTOS     = 1
MODULE_BSP      = 1
MODULE_DRV      = 1
MODULE_DBG      = 0
MODULE_PATCH    = 1
MODULE_NVS      = 1

#shell module , AT cmd module
MODULE_SHELL    = 1
MODULE_ATCMD    = 1
MODULE_CLICMD   = 1

#wireless rf and other driver
MODULE_WCND     = 1

MODULE_VRTC     = 1

MODULE_EVENT    = 1

MODULE_UTILS    = 1
MODULE_MEMDUMP  = 1
# wireless interface module for IPC usage
MODULE_WLIF     = 0
# IPC module
MODULE_IPC      = 1

#lwip module
MODULE_LWIP    = 1
#mbedtls module
MODULE_MBDTLS  = 1

ifeq ($(IC_BOARD), 0)
LIB_DRV_FPGA   = 1
else
LIB_DRV        = 1
endif

ifeq ($(INNER), 0)
LIB_EXT_WIFI_BT  = 1
else
MODULE_WIFI    = 1
MODULE_BT      = 0
LIB_WPASTA     = 1
ifeq ($(SHRINK), 0)
LIB_WPAAP      = 1
endif
endif

MODULE_WOTA    = 0
MODULE_LUNA    = 0
MODULE_PM      = 1
###############################
# Below config parameters for SDK
#
# Heap size configure
# CFG_TOTAL_HEAP_SIZE=81920
ifneq ("$(CFG_TOTAL_HEAP_SIZE)", "")
export CFG_TOTAL_HEAP_SIZE
endif
# event task stack
# CFG_EVENT_TASK_STACK_SIZE=512
# export CFG_EVENT_TASK_STACK_SIZE
# event task priority
# CFG_EVENT_TASK_PRIORITY=4
# export CFG_EVENT_TASK_PRIORITY


# use independent buf for wifi calibration
CALI_BUF=1
export CALI_BUF
# the base address of wifi calbration parametes flash region
CFG_FLASH_NOR_OTP_NV_BASE_ADDR=0x30200000
export CFG_FLASH_NOR_OTP_NV_BASE_ADDR
# maximun vif number
export VIF_NUM=1

# mbedtls version (mbedtls folder name)
# MBEDTLS_MAJOR_VER=3 for mbedtsl-3.6.4
# MBEDTLS_MAJOR_VER=2 for mbedtsl-2.28.9
MBEDTLS_MAJOR_VER=3
MBEDTLS_VER=mbedtls-3.6.4
export MBEDTLS_MAJOR_VER
export MBEDTLS_VER

# lwip version (lwip folder name)
LWIP_VER = lwip-2.2.1
export LWIP_VER
