menuconfig WIFI
    bool "WiFi Support"
    default n
    select ARCS_HAL_VRTC
    select ARCS_HAL_WCND
    select RTOS_AL
    select SDK_MODULE_MBEDTLS
    select MBEDTLS_HSU
    help
        Enable WiFi support including core WiFi functionality

choice WIFI_LWIP_CORE_MODE
    prompt "WiFi and LWIP Core Mode"
    default WIFI_LWIP_DIFF_CORE if WIFI || LWIP
    help
        Select the core mode for WiFi and LWIP.
        For compatibility, please choose according to your hardware and software configuration.

config WIFI_LWIP_SAME_CORE
    bool "WiFi and LWIP run on the same core"
    help
        Select this if both WiFi stack and LWIP stack run on the same CPU core.

config WIFI_LWIP_DIFF_CORE
    bool "WiFi and LWIP run on different cores"
    select ARCS_HAL_SIMSOCKET if WIFI
    select ARCS_HAL_IPC
    help
        Select this if WiFi stack and LWIP stack run on different CPU cores.
        This mode may be used for specific performance optimization or multi-core architecture.

endchoice


if WIFI

config MEM_WIFI_LA_DUMP_SIZE
    int "WiFi LA dump size"
    default 32768
    help
        WiFi LA dump size

config WIFI_CALI_BUF
    bool "Enable exclusive calibration buffer"
    default n
    help
        Enable exclusive calibration buffer

config WIFI_TX_BUF_COPY
    bool "Enable WiFi TX buffer copy"
    default n
    help
        Enable WiFi TX buffer copy


choice
    prompt "WiFi Mode"
    default WIFI_STA
    config WIFI_AP
        bool "WiFi Access Point Mode"
        default n
        help
        Enable WiFi Access Point (AP) mode support

    config WIFI_STA
        bool "WiFi Station Mode"
        default n
        help
        Enable WiFi Station (STA) mode support

endchoice

endif # WIFI
