
# general switch for module and lib, can be turn on/off in the individual demo's config

include $(TOPDIR)/src/${CHIP}/general.config

#MODULE_BSP      = 1
#MODULE_DRV      = 1
#LIB_DRV_FPGA    = 1
#LIB_DRV         = 1
#MODULE_DBG      = 1
#MODULE_PATCH    = 1
#MODULE_NVS      = 1
#MODULE_SHELL    = 1
#MODULE_RTOS     = 1
MODULE_WCND      = 0
MODULE_VRTC      = 0
#MODULE_EVENT    = 1
MODULE_ATCMD     = 0
#MODULE_CLICMD    = 1
#MODULE_UTILS    = 1

MODULE_IPC      = 1
#MODULE_LWIP    = 1

#LIB_EXTWIFI    = 1
#MODULE_MBDTLS  = 1
MODULE_WIFI     = 0
#LIB_WPASTA     = 1
#LIB_WPAAP      = 1

MODULE_WLIF     = 1
