
choice
    prompt "log level"
    default ARCS_HAL_LOG_LEVEL_INFO
    config ARCS_HAL_LOG_LEVEL_NONE
        bool "none"
    config ARCS_HAL_LOG_LEVEL_ERROR
        bool "error"
    config ARCS_HAL_LOG_LEVEL_WARN
        bool "warning"
    config ARCS_HAL_LOG_LEVEL_INFO
        bool "info"
    config ARCS_HAL_LOG_LEVEL_DEBUG
        bool "debug"
    config ARCS_HAL_LOG_LEVEL_VERBOSE
        bool "verbose"
endchoice

config ARCS_HAL_LSF
    bool "Enable ARCS HAL LSF"
    select ARCS_HAL_IC_LOCK
    default n

if ARCS_HAL_LSF
    choice
        prompt "hal lsf type"
        default HAL_LSF_SERVER if ARCS_AP_CORE
        default HAL_LSF_CLIENT if ARCS_CP_CORE

        config HAL_LSF_SERVER
            bool "LSF Server"

        config HAL_LSF_CLIENT
            bool "LSF Client"
    endchoice

    config ARCS_HAL_IC_MUTEX
        bool "Enable ARCS HAL IC Mutex"
        default y

    config ARCS_HAL_SUPPORT_ATOMIC_INSTRUCTIONS
        bool "Enable ARCS HAL Support Atomic Instructions"
        depends on ARCS_HAL_IC_MUTEX
        default y
endif

config ARCS_HAL_DCACHE_COHERENT
    bool "Enable ARCS HAL DCACHE COHERENT"
    default y

config DUAL_FLASH
    bool "Enable ARCS HAL Dual Flash"
    default n
    help
        Enable support for dual flash memory configuration.

config ARCS_HAL_EXT_RAM_SECTION
    string "EXT RAM Section"
    default ".ramcode"
    help
        The section name for the EXT RAM.
        This is used to store the EXT RAM code.

config DUAL_FLASH
    bool "Enable ARCS HAL Dual Flash"
    default n
    help
        Enable support for dual flash memory configuration.