# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

osource "$ARCS_BASE/Kconfig"

config VADDR_REMAP_BOOT_VARIANT_NAME
	string "vaddr remap boot variant name"
	default "A"

config VADDR_REMAP_BOOT_REGION_INDEX
	int "vaddr remap boot region index"
	range 0 3
	default 0

config VADDR_REMAP_FW_FLASH_OFFSET
	hex "vaddr remap firmware flash offset"
	default 0x20000

config VADDR_REMAP_BOOT_FW_IN_CP
	bool "boot remapped firmware on CP core"
