# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

config LISA_RGB_DEVICE
	bool "Enable LISA RGB LCD driver"
	default n
	help
	  Enable LISA RGB (parallel) LCD device driver.
	  This driver provides a unified interface for RGB parallel LCD panels.

if LISA_RGB_DEVICE

config LISA_RGB_GPDMA_CH
	int "GPDMA channel for RGB data transfer"
	default 1
	range 0 5
	help
	  GPDMA channel number used for RGB framebuffer transfer.
	  Make sure this channel is not used by other peripherals.

endif # LISA_RGB_DEVICE
