menu "adc configuration"

config LITE_ADC
    bool "ADC support"
    default n

config LITE_ADC_PROXY
    bool "ADC proxy support"
    default n
config LITE_AADC_RECV_CNTS
    int "AADC Recv Count"
    default 12
endmenu