# Copyright (c) 2025, LISTENAI
# SPDX-License-Identifier: Apache-2.0

# Components Configuration
# This file includes all component Kconfig files
menu "component"

rsource "acomp/Kconfig"
rsource "dirent/Kconfig"
rsource "exclib/Kconfig"
rsource "ipclsf/Kconfig"
rsource "irq_proxy/Kconfig"
rsource "lis_algo/Kconfig"
rsource "lite_adc/Kconfig"
rsource "lite_dac/Kconfig"
rsource "simple_box/Kconfig"
rsource "tinyusb-appclass/Kconfig"
rsource "cherryusb-appclass/Kconfig"
rsource "lisa_sntp/Kconfig"
rsource "lisa_evt_pub/Kconfig"
rsource "lisa_shell/Kconfig"
rsource "lisa_http/Kconfig"
rsource "lisa_websocket/Kconfig"
rsource "lisa_kv/Kconfig"
rsource "lisa_wifi/Kconfig"
rsource "lisa_bluetooth/Kconfig"
rsource "app_player/Kconfig"
rsource "lisa_modem/Kconfig"
rsource "lisa_net/Kconfig"
rsource "httpdns/Kconfig"
rsource "lisa_bt_audio_framework/Kconfig"

endmenu
